@model IEnumerable<LangdiDomain.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutView.cshtml";
}
@section account{active}
@section css{
    <link href="/Content/right.css" rel="stylesheet" />
    <link href="~/Content/list.css" rel="stylesheet" />

    <style>
        .td {
            width: 35%;
        }

        .oper {
            width: 30%;
        }

        #table td {
            padding-top: 15px;
        }
    </style>
}
<div class="rhead">
    <div class="row">
        <div class="col-xs-12 col-md-9 hidden-xs">
            <div class="h2">用户列表</div>
        </div>
        <div class=" col-md-3 hidden-xs">
            @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-default langdibtn" })
        </div>
    </div>

</div>
<div class="rheadxs">
    <div>
        @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-default langdibtn" })
    </div>
    <div class="h2">
        用户列表
    </div>
</div>
<table id="table" class="table table-hover langditable">
    <tr class="hidden-xs">
        <th>
            用户名
        </th>
        <th>身份</th>
        <th style=" text-align:right;padding-right:40px;">操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="td">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td class="td">
                @item.GetRole()
            </td>
            <td class="oper">
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                <a href="/user/delete/@item.Id" onclick="return confirm(' 确认删除吗？')">删除</a>
            </td>
        </tr>
    }
</table>
